<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ClosedXML" version="0.69.2" targetFramework="net45" />
  <package id="DocumentFormat.OpenXml" version="1.0" targetFramework="net45" />
  <package id="ExcelGenerator" version="1.4" targetFramework="net45" />
  <package id="ExcelLibrary" version="1.2011.7.30" targetFramework="net45" />
  <package id="HtmlAgilityPack" version="1.4.6" targetFramework="net45" />
  <package id="mongocsharpdriver" version="1.8.3" targetFramework="net45" />
</packages>